body {
    margin: 0 0 0 0;
}

.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00c853;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    border-width: 0 0 0 0.5vw;
    border-color: #00c853;
    border-style: solid;
} 

.header li {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 33%;
    height: 100%;

    border-style: solid;
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-color: #00c853;
    border-left-width: 0;
    border-right-width: 0;
}

.unselected {
    background-color: #009624;
    color:  white;
    padding-top:    10px;
    padding-bottom: 10px;
    width: 100%
}

.selected {
    background-color: white;
    color:  black;
    padding-top:    10px;
    padding-bottom: 10px;
    width: 100%;
}

button {
    border: none;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.rangeSpanClose {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.rangeSpanClose:hover,
.rangeSpanClose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#selectedDay {
    width: 40%;
    font-size: larger;
}

@media only screen and (max-width: 654px) {

}